@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SamsungSans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Regular */
@font-face {
  font-family: "SamsungSans";
  src: url("/fonts/SamsungSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "SamsungSans";
  src: url("/fonts/SamsungSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "SamsungSans";
  src: url("/fonts/SamsungSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "SamsungSans";
  src: url("/fonts/SamsungSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "SamsungSans";
  src: url("/fonts/SamsungSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SamsungSans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .shadow-outline {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

  
    .logo-container {
      @apply relative w-48 h-20 md:w-72 md:h-28 lg:w-80 lg:h-32;
    }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Animations */
@keyframes spin {
  to { transform: rotate(360deg); }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
